<a href="https://colab.research.google.com/github/VitorGama10/Machine-Learning-/blob/main/Pratica_Machine_Valida%C3%A7%C3%A3o_Praticas_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/e99a526b2e7ccc6c3b70f53db43a87d2/raw/1605fc74aa778066bf2e6695e24d53cf65f2f447/machine-learning-carros-simulacao.csv"
dados = pd.read_csv(uri).drop(columns=["Unnamed: 0"], axis=1)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               18  35085.22134
1   40557.96        1               20  12622.05362
2   89627.50        0               12  11440.79806
3   95276.14        0                3  43167.32682
4  117384.68        1                4  12770.11290

In [48]:
dados = pd.read_csv(uri).drop(columns=["Unnamed: 0"], axis=1)

In [49]:
x = dados[["preco", "idade_do_modelo", "km_por_ano"]]
y = dados["vendido"]

In [50]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

x = dados[["preco", "idade_do_modelo","km_por_ano"]] # treino_x, teste_x
y = dados["vendido"] #treino_y, teste_y

SEED = 158020
np.random.seed(SEED)
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 7500 elementos e testaremos com 2500 elementos

# Novos algoritmo

# DecisionTreeClassifier 
Arvore de decisao

In [51]:
from sklearn.tree import DecisionTreeClassifier
SEED = 444040
np.random.seed(SEED)
modelo = DecisionTreeClassifier(max_depth=2) #profundidade maxima 
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print ("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 71.92%

In [52]:
x = dados[["preco", "idade_do_modelo","km_por_ano"]]
y = dados["vendido"]

SEED = 5
np.random.seed(SEED)
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia do dummy stratified foi %.2f%%" % acuracia)

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia do dummy stratified foi 76.84%

# Cross_validate 
### Validando modelos

In [53]:
from sklearn.model_selection import cross_validate
SEED = 158020
np.random.seed(SEED)


modelo = DecisionTreeClassifier(max_depth=2) ## tamanho da decisao
                                              # remove o treino == False
results = cross_validate(modelo, x, y, cv = 3, return_train_score=False) #cv quantos pedaços quero quebrar
media = results['test_score'].mean()


desvio_padrao = results['test_score'].std() # o total
print('Accuray com cross validation, 3 = [%.2f, %.2f]' % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao)*100))

Accuray com cross validation, 3 = [74.99, 76.57]

# Cv mudando o numero

In [54]:
from sklearn.model_selection import cross_validate
SEED = 158020
np.random.seed(SEED)


modelo = DecisionTreeClassifier(max_depth=2) ## tamanho da decisao
                                              # remove o treino == False
results = cross_validate(modelo, x, y, cv = 5, return_train_score=False) #cv quantos pedaços quero quebrar
media = results['test_score'].mean()


desvio_padrao = results['test_score'].std() # o total
print('Accuray com cross validation, 3 = [%.2f, %.2f]' % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao)*100))

Accuray com cross validation, 3 = [75.21, 76.35]

# Aleatoridade no cross validate

#KFold

In [55]:
from sklearn.model_selection import KFold

SEED = 158020
np.random.seed(SEED)

cv = KFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2) # o modelo que vou usar
results = cross_validate(modelo, x, y, cv = cv, return_train_score=False) #cv é quantos modelos vou testar

media = results['test_score'].mean() # A media
desvio_padrao = results['test_score'].std() # o total
print('Accuray media: %.2f' % (media * 100))
print('Accuray com cross validation, 10 = [%.2f, %.2f]' % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao)*100))

Accuray media: 75.78
Accuray com cross validation, 10 = [74.37, 77.19]

## Função Def

In [56]:
def imprime_resultados(results):
  media = results['test_score'].mean() # A media
  desvio_padrao = results['test_score'].std() # o total
  print('Accuray media: %.2f' % (media * 100))
  print('Accuray com cross validation, 10 = [%.2f, %.2f]' % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao)*100))

In [57]:
from sklearn.model_selection import KFold

SEED = 158020
np.random.seed(SEED)

cv = KFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2) # o modelo que vou usar
results = cross_validate(modelo, x, y, cv = cv, return_train_score=False) #cv é quantos modelos vou testar
imprime_resultados(results)

Accuray media: 75.78
Accuray com cross validation, 10 = [74.37, 77.19]

# Com o shuffle
mostra outro resultado
bagunçou os dados

In [70]:
SEED = 158020
np.random.seed(SEED)
 
cv = KFold(n_splits = 10, shuffle = True) # shuffle bagunca os dados
modelo = DecisionTreeClassifier(max_depth=2) # o modelo que vou usar
results = cross_validate(modelo, x, y, cv = cv, return_train_score=False) #cv é quantos modelos vou testar
imprime_resultados(results)

Accuray media: 75.78
Accuray com cross validation, 10 = [73.58, 77.98]

# Simular situacao horrivel de azar
pode ser 'azar' como pode ser uma proporcao de exemplos entre as classes

In [59]:
dados_azar = dados.sort_values('vendido', ascending=True) ## ascending vai ordenar vai vim primeiro os 0 depois os 1
x_azar = dados_azar[['preco', 'idade_do_modelo', 'km_por_ano']]
y_azar = dados_azar['vendido']
dados_azar.head(5)

         preco  vendido  idade_do_modelo   km_por_ano
4999  74023.29        0               12  24812.80412
5322  84843.49        0               13  23095.63834
5319  83100.27        0               19  36240.72746
5316  87932.13        0               16  32249.56426
5315  77937.01        0               15  28414.50704

In [60]:
from sklearn.model_selection import KFold

SEED = 158020
np.random.seed(SEED)

cv = KFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2) # o modelo que vou usar
results = cross_validate(modelo, x_azar, y_azar, cv = cv, return_train_score=False) #cv é quantos modelos vou testar
imprime_resultados(results)

Accuray media: 57.84
Accuray com cross validation, 10 = [34.29, 81.39]

# Com o shuffle=True

In [61]:
from sklearn.model_selection import KFold

SEED = 158020
np.random.seed(SEED)

cv = KFold(n_splits = 10, shuffle=True)
modelo = DecisionTreeClassifier(max_depth=2) # o modelo que vou usar
results = cross_validate(modelo, x_azar, y_azar, cv = cv, return_train_score=False) #cv é quantos modelos vou testar
imprime_resultados(results)

Accuray media: 75.76
Accuray com cross validation, 10 = [73.02, 78.50]

## StratifiedKFold Vamos usar mais 

[74.10, 77.46] mais assim

In [62]:
from sklearn.model_selection import StratifiedKFold

SEED = 158020
np.random.seed(SEED)

cv = StratifiedKFold(n_splits = 10, shuffle=True) 

modelo = DecisionTreeClassifier(max_depth=2) # o modelo que vou usar

results = cross_validate(modelo, x_azar, y_azar, cv = cv, return_train_score=False) #cv é quantos modelos vou testar

imprime_resultados(results)

Accuray media: 75.78
Accuray com cross validation, 10 = [74.10, 77.46]

In [63]:
np.random.seed(SEED)
dados['modelo'] = dados.idade_do_modelo + np.random.randint(-2, 3, size=10000)
dados.modelo = dados.modelo + abs(dados.modelo.min()) + 1
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano  modelo
0   30941.02        1               18  35085.22134      19
1   40557.96        1               20  12622.05362      22
2   89627.50        0               12  11440.79806      14
3   95276.14        0                3  43167.32682       4
4  117384.68        1                4  12770.11290       4

## Para o modelo 
GroupKFold --- separa por grupo

casos reais

usa pra quando tiver modelo de carro novo

In [64]:
from sklearn.model_selection import GroupKFold

SEED = 300
np.random.seed(SEED)

cv = GroupKFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2) # tamanho da decisao
results = cross_validate(modelo, x_azar, y_azar, cv = cv, groups = dados.modelo, return_train_score=False)
imprime_resultados(results)                               # Agrupa meus dados, precisa ter

Accuray media: 75.76
Accuray com cross validation, 10 = [72.91, 78.60]

## Cross validation com StandardScaler

In [65]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

SEED = 301
np.random.seed(SEED)

scaler = StandardScaler()
scaler.fit(treino_x)
treino_x_escalado = scaler.transform(treino_x)
teste_x_escalado = scaler.transform(teste_x)

modelo = SVC()
modelo.fit(treino_x_escalado, treino_y)
previsoes = modelo.predict(teste_x_escalado)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi de %.2f %%" % acuracia)

A acurácia foi de 77.48 %

In [66]:
from sklearn.model_selection import GroupKFold

SEED = 301
np.random.seed(SEED)

cv = GroupKFold(n_splits = 10)
modelo = SVC()
results = cross_validate(modelo, x_azar, y_azar, cv = cv, groups = dados.modelo,return_train_score=False)
imprime_resultados(results)

Accuray media: 77.24
Accuray com cross validation, 10 = [73.71, 80.77]

In [67]:
# forma errada
scaler = StandardScaler()
scaler.fit(x_azar)
x_azar_escalado = scaler.transform(x_azar)

In [68]:
# Forma errada 
from sklearn.model_selection import GroupKFold

SEED = 301
np.random.seed(SEED)

cv = GroupKFold(n_splits = 10)
modelo = SVC()
results = cross_validate(modelo, x_azar_escalado, y_azar, cv = cv, groups = dados.modelo,return_train_score=False)
imprime_resultados(results)

Accuray media: 76.65
Accuray com cross validation, 10 = [73.60, 79.69]

# Em questao se vim grupo novo 
Forma certa

In [69]:
|# Forma certa 
from sklearn.pipeline import Pipeline

SEED = 301
np.random.seed(SEED)

scaler =StandardScaler()
modelo = SVC()

pipeline = Pipeline([('transformacao', scaler), ('estimador', modelo)])

cv = GroupKFold(n_splits = 10)
result = cross_validate(pipeline, x_azar, y_azar, cv = cv, groups = dados.modelo, return_train_score=False)
imprime_resultados(results)

Accuray media: 76.65
Accuray com cross validation, 10 = [73.60, 79.69]