<a href="https://colab.research.google.com/github/VitorGama10/Machine-Learning-/blob/main/Praticas_em_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Treinar os modelos

In [ ]:
## Features (1 sim, 0 Não)
# pelo longo ?
# pelo curto ?
# Faz auau ?
# Faz miau ?
gato1 = [0, 1, 0]
gato2 = [0, 1 ,1]
gato3 = [1, 1 ,0]

cachorro1 = [0,1,1]
cachorro2 = [1,0,1]
cachorro3 = [1,1,1]

# 1 => porco, 0 => cachorro ⚠

## Treinar os modelos 

treino_x = [gato1, gato2, gato3, cachorro1, cachorro2, cachorro3]
treino_y = [1,1,1, 0,0,0] # 0 = cachorro, 1 = gato

## Algoritmo LinearSVC

# LinearSVC encontra a linha que separa as classes 
from sklearn.svm import LinearSVC (modelo mais basico)

In [ ]:
# LinearSVC encontra a linha que separa as classes 
from sklearn.svm import LinearSVC ## Modelo mais basico 

model = LinearSVC() # seleciona o algoritmo para treina meus modelos 
model.fit(treino_x, treino_y)

LinearSVC()

In [ ]:
animal_misterioso =[1,1,1] 
model.predict([animal_misterioso]) # == A Cachorro
# Predict Preveu que seria Cachorro

array([0])

## Testando Meu Algoritmo

In [ ]:
misterio1 = [1,1,1]
misterio2 = [1,1,0]
misterio3 = [0,1,1]
## Vamos fazer o teste agora!!
teste_x = [misterio1, misterio2, misterio3]
teste_y = [0,1,1]

In [ ]:
previsoes = model.predict(teste_x)
previsoes

array([0, 1, 0])

In [ ]:
corretos = (previsoes == teste_y).sum() # numeros de corretos

In [ ]:
total = len(teste_x) # total de teste q fiz 
total

3

## Accuracy faz a conta e me mostra a quanto meu modelo está acertando

In [ ]:
from sklearn.metrics import accuracy_score
                              # primeiro o teste_y depois as previsoes 
taxa_de_acerto = accuracy_score(teste_y, previsoes)
print('Taxa de acerto %.2f' % (taxa_de_acerto * 100))

Taxa de acerto 66.67

## Comprou ou nao Comprou ?
Colocando conhecimento em pratica ⌚

In [ ]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
mapa = {
    'home': 'Principal',
    'how_it_works': 'Como_funciona',
    'contact': 'contato',
    'bought': 'Comprou'
}
dados = dados.rename(columns = mapa)

In [ ]:
dados.head()

   Principal  Como_funciona  contato  Comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [ ]:
x = dados[['Principal', 'Como_funciona', 'contato']] # Modelo de treino
x.head()

   Principal  Como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [ ]:
y = dados['Comprou'] # Modelo de teste 
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Comprou, dtype: int64

In [ ]:
dados.shape

(99, 4)

In [ ]:
treino_x = x[:75] ## Vai ate o 75 elementos 
treino_y = y[:75] ## Vai ate o 75 elementos 
teste_x = x[75:] ## 75 acima, elementos 
teste_y = y[75:] ## 75 acima, elementos
print('Treinaremos com %d elementos e testaremos %d elementos' % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos 24 elementos

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y) ## Treina essas informaçoes

previsoes = modelo.predict(teste_x) # Agora vamos prever nosso teste

acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acuracia foi %.2f%%' % acuracia)

A acuracia foi 95.83%

In [ ]:
from sklearn.model_selection import train_test_split # Separa o treino do teste
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20 ## Tira a Aleaotoridade, mostra o mesmo resultado
                                                               # pra ser o mesmo resultado coloca == random_state
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25,
                                                        stratify = y) # umas das maneiras de separa o treino do teste 
print('Treinaremos com %d elementos e testaremos %d elementos' % (len(treino_x), len(teste_x)))


modelo = LinearSVC()
modelo.fit(treino_x, treino_y) ## Treina essas informaçoes
previsoes = modelo.predict(teste_x) # Agora vamos prever nosso teste

curacia = accuracy_score(teste_y, previsoes) * 100
print('A acuracia foi %.2f%%' % acuracia)

Treinaremos com 74 elementos e testaremos 25 elementos
A acuracia foi 95.83%

In [ ]:
treino_y.value_counts() # 47 que nao comprou e 27 que comprou

0    49
1    25
Name: Comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    17
1     8
Name: Comprou, dtype: int64